body {
    background-color: rgb(162, 195, 238);
}

h1 {
    color: #034c7c;
}

h3 {
    color: #034c7c;
    font-style: italic;
}

hr {
    border-color: rgb(197, 211, 230);
    border-style: none;
    border-top-style: dotted;
    width: 15%;
    border-width: 7px;
}